/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap"); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    /* margin-top: 15px; */
    /* margin-left: 20px; */
    /* background-color: black; */
    color: white;
    padding: 15px;
    background-image: linear-gradient(to left ,rgba(0, 0, 0, 0.528), rgba(0, 0, 0, 0.528)),url(asset/home.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}
nav{
    position: sticky;
    top: 0px;
}
nav {
    height: 10vh;
    /* background-color: black; */
    /* width: 10vw; */
}
nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    
}
nav ul li a{
    margin-right: 50px;
    font-weight: 500;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    
}
nav ul li a:hover{
    color: violet;
    transition: 0.2s linea;
}
nav ul img{
    height: 100px;
    width: 80px;
}